# Python Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Model files
*.pkl
*.h5
*.keras
*.onnx

# Python environment
*.egg-info/